@charset "utf-8";

.wrap {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wrap div {
    width: 300px;
    height: 300px;
    background-color: blue;
    text-align: center;
    line-height: 300px;
}

.style {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.style div {
    width: 300px;
    height: 300px;
    background-color: #f00;
    text-align: center;
    line-height: 300px;
    margin-top: 30px;
}

body,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
.title {
    max-width: 960px;
    display: flex;
    padding: 20px;
    margin: 0 auto;
}

.nav {
    margin: 0 0 0 auto;
}

.content {
    display: flex;
    margin-right: 5px;
}

.content li {
    padding: 10px;
    border-left: solid 1px #4c4c4c;
}
.max {
    border-left: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .nav {
        justify-content: left;
        text-align: left;
    }
    .title {
        display: block;
        border-left: none;
        justify-content: left;
    }
    .content {
        display: block;
    }
    .content li {
        display: block;
        border-bottom: solid 1px #4c4c4c;
        border-left: none;
    }
}
