@charset "UTF-8";
/* cssリセット */
/*利用するタグによってこちらの内容は増やす*/
body,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
  margin: 0;
  margin: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "ヒラギノ明朝 Pro W3", "Yu Gothic", "Brush Script MT Italic ", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

.header_container {
  max-width: 85.6%;
  background-color: #3c5f7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_name h1 {
  color: #fff;
  font-family: "ヒラギノ明朝 Pro";
  font-weight: bold;
  font-size: 70px;
  padding-top: 70px;
  line-height: 1.75;
  padding-left: 3.1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_name .header_sns {
  padding-left: 3.1%;
  margin-bottom: 50px;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_name .header_text {
  padding-left: 3.1%;
  position: relative;
  padding-bottom: 120px;
  width: 100%;
}

.header_wrap {
  width: 75.6%;
}

.pc_nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2.6%;
}

.pc_nav ul li {
  color: #fff;
  font-size: 30px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  width: 8.3%;
  display: block;
  text-align: center;
  padding-left: 22.6%;
  padding-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}

.pc_nav ul li span {
  color: #3c5f7c;
}

.header_photo {
  max-width: 100%;
  position: absolute;
}

.header_photo img {
  margin-bottom: -130px;
}

.main {
  max-width: 1000px;
}

.about {
  padding-top: 155px;
}

.tittle_about {
  margin: 0 15% 50px 0;
  text-align: right;
}

.tittle_about p {
  color: #3c5f7c;
  font-size: 20px;
  font-family: "ヒラギノ明朝 Pro";
  padding-right: 3.8%;
}

.about_wrap {
  background-color: #3c5f7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_photo {
  margin-top: -50px;
  width: 100%;
}

.about_text {
  width: 57%;
  padding-top: 55px;
  padding-right: 10.1%;
  padding-left: 9.6%;
}

.about_text div {
  font-size: 47px;
  color: #fff;
  padding-bottom: 55px;
  font-weight: bold;
}

.about_text p {
  color: #fff;
  font-size: 25px;
  line-height: 2;
}

.about_more {
  padding-top: 45px;
  padding-left: 40%;
  position: relative;
}

.about_more p {
  margin-bottom: -50px;
  font-size: 20px;
  padding-left: 5%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  text-align: center;
}

.about_more img {
  margin-top: -50px;
}

.work {
  padding-top: 300px;
}

.work_container {
  background-color: #a9c8d8;
  padding-bottom: 308px;
  position: relative;
  background: linear-gradient(135deg, transparent 50px, #a9c8d8 0) top left, linear-gradient(-135deg, transparent 0px, #a9c8d8 0) top right, linear-gradient(-45deg, transparent 50px, #a9c8d8 0) bottom right, linear-gradient(45deg, transparent 0px, #a9c8d8 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.tittle_work {
  text-align: center;
  position: relative;
}

.tittle_work img {
  margin-top: -110px;
}

.tittle_work p {
  color: #3c5f7c;
  font-size: 20px;
  font-family: "ヒラギノ明朝 Pro";
}

.work_wrap {
  width: 82.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-left: 8.69%;
  padding-right: 8.69%;
}

.work_three {
  width: 28.1%;
  position: relative;
}

.work_three div {
  font-size: 30px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}

.work_three p {
  padding-top: 61px;
  font-size: 20px;
  text-align: center;
}

.contact {
  padding-top: 90px;
}

.contact_container {
  text-align: center;
}

.tittle_contact h2 {
  color: #3c5f7c;
  font-size: 60px;
  font-family: "ヒラギノ明朝 Pro";
}

.tittle_contact p {
  color: #3c5f7c;
  font-size: 20px;
  font-family: "ヒラギノ明朝 Pro";
}

.wrap_contact {
  font-size: 35px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  padding-top: 63px;
  color: #3c5f7c;
}

.contact_button {
  background-color: #3c5f7c;
  width: 22.6%;
  color: #fff;
  margin: 0 auto;
  margin-top: 110px;
  font-size: 30px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック bold", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  padding: 45px 0 45px 0;
  border-radius: 65px;
}

.footer {
  text-align: center;
  background-color: #3c5f7c;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.footer p {
  color: #fff;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "ヒラギノ明朝 Pro";
}
/*# sourceMappingURL=style.css.map */