@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* *ヘッダー箇所＊ -----------------------------------------*/
.header_container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 2.51%;
    padding-right: 6.53%;
    box-sizing: border-box;
    align-items: center;
    z-index: 100;
    padding: 10px 6.53% 0 2.51%;
}

.header_container h1 {
    width: 226px;
}
.pc_nav ul {
    display: flex;
}
.pc_nav li a {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 105px;
    display: block;
    text-align: center;
}

/*スライダー　--------------------------------------*/
.slider img {
    width: 100%;
}

.sp_nav {
    display: none;
}
.sp_menu_btn {
    display: none;
}
/* スライダー調整ーーーーーーーーーーーー */
.slick-next {
    display: none !important;
}
.slick-prev {
    display: none;
}
.slick-dots {
    bottom: 30px;
}
.slick-dots li button::before {
    color: #fff;
}
.slick-dots li.slick-active button::before {
    color: #fff;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/* 会社紹介 ----------------------------------------*/
body {
    background-color: #e8d9bf;
}
.main {
    max-width: 1000px;
    margin: 0 auto;
}
.company {
    padding-left: 10px;
    padding-right: 10px;
}

.company_text {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.text_english {
    font-size: 30px;
    padding-bottom: 30px;
}
.main_text {
    font-size: 80px;
    line-height: 1.5;
    padding-bottom: 35px;
}
.sub_text {
    font-size: 23px;
    line-height: 2.17;
}

.sp_sub_text {
    display: none;
}

/* About us --------------------------*/
.about_us {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}
.about_us_picture img {
    border-radius: 0 0 80px 0;
}
.about_us_content {
    box-sizing: border-box;
    padding-left: 7.8%;
    width: 43.5%;
}
.about_us_img {
    width: 273px;
    margin-bottom: 50px;
}
.about_us_maintext {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
}
.about_us_subtext {
    font-size: 16px;
    line-height: 25px;
}
.sp_about_us_content {
    display: none;
}
.sp_br {
    display: none;
}

/* Menu -----------------------------------*/
.title_menu {
    text-align: center;
}
.title_menu img {
    width: 151px;
    margin-bottom: 40px;
}
.menu_classfication {
    display: flex;
    justify-content: space-between;
}
.menu_detail {
    width: 30%;
}
.menu_classfication img {
    border-top-right-radius: 40px;
}

.menu_classfication h3 {
    color: red;
    font-size: 38px;
    padding-left: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.menu_classfication p {
    font-size: 17px;
    line-height: 1.47;
}

/* gallery--------------------------------------------- */
.gallery {
    text-align: center;
}
.title_gallery img {
    width: 245px;
    margin-top: 70px;
    margin-bottom: 25px;
}

.gallery_content {
    display: flex;
    width: 100%;
}
.sp_gallery_content img {
    display: none;
}

/* event-------------------------------------- */
.event {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.title_event {
    width: 173px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
}

.event_detail {
    width: 100%;
    background-color: #fff;
    border: solid #4f260b;
    box-sizing: border-box;
}
.event_detail ul {
    padding-top: 30px;
    padding-bottom: 30px;
}
.event_detail ul li {
    font-size: 23px;
    line-height: 2.17;
    padding-left: 15%;
    align-items: center;
}

.event_detail ul span {
    text-decoration: underline;
    padding-left: 5.2%;
}
.sp_li {
    display: none;
}
/* access----------------------------------------- */
.access {
    margin-top: 70px;
}

.title_access {
    width: 221px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.access iframe {
    width: 100%;
    height: 400px;
}

/* footer------------------------------------------- */
.footer {
    background-color: #fff;
}
.footer_container {
    display: flex;
    padding-top: 80px;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.footer_container img {
    width: 226px;
    height: 50px;
    margin-right: 50px;
}
.shop_detail li {
    font-size: 20px;
    color: #000;
    line-height: 1;
    vertical-align: baseline;
    margin-bottom: 30px;
}

.shopname {
    text-align: center;
    color: black;
    font-size: 16px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 125px;
}
@media screen and (max-width: 1024px) {
    .pc_nav {
        display: none;
    }
    .sp_menu_btn {
        position: absolute;
        top: 30px;
        right: 10px;
        display: block;
        cursor: pointer;
        z-index: 100;
    }
    .sp_menu_btn span {
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        transition: 0.3s;
    }
    .sp_menu_btn span::before,
    .sp_menu_btn span:after {
        content: "";
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: absolute;
        transition: 0.3s;
    }

    .sp_menu_btn span::before {
        bottom: 10px;
    }
    .sp_menu_btn span::after {
        top: 10px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    .sp_nav a {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 20px;
        display: block;
        padding: 20px 0;
        text-align: center;
    }
    /* ヘッダー */

    /* スライダー */
    .slider source {
        width: 100%;
    }

    /* 会社紹介 */

    .company_text {
        padding-top: 40px;
        text-align: center;
    }
    .text_english {
        font-size: 25px;
        padding-bottom: 30px;
    }
    .main_text {
        font-size: 9vw;
        padding-bottom: 22px;
    }
    .sub_text {
        font-size: 25px;
        line-height: 1.875;
    }
    .sp_sub_text {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* 会社紹介 -------------------------------------------*/
    .company_text {
        padding-top: 40px;
        text-align: center;
        padding-bottom: 10px;
    }
    .text_english {
        font-size: 17px;
        padding-bottom: 27px;
    }
    .main_text {
        font-size: 9vw;
        padding-bottom: 22px;
    }
    .sub_text {
        font-size: 16px;
        line-height: 1.875;
        text-align: center;
    }

    .sp_br {
        display: block;
    }

    /* about us------------------------------ */
    .about_us_picture {
        display: none;
    }
    .about_us_content {
        display: none;
    }
    .sp_about_us_content {
        display: block;
    }

    .sp_about_us_img {
        width: 160px;
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .sp_about_us_picture {
        margin-left: -10px;
        margin-right: -10px;
    }
    .sp_about_us_maintext {
        font-size: 36px;
        line-height: 1.25;
        padding-bottom: 30px;
        padding-top: 35px;
    }
    .sp_about_us_subtext {
        line-height: 1.75;
        font-size: 16px;
    }

    /* メニュー ---------------------------------*/
    .title_menu img {
        width: 87px;
        margin-bottom: 22px;
    }
    .menu_classfication {
        display: block;
        padding-left: 7.2%;
        padding-right: 7.2%;
    }
    .menu_detail {
        width: 100%;
        padding-bottom: 57px;
    }
    .menu_detail h3 {
        font-size: 40px;
    }
    /* ギャラリーーーーーーーーーーーーーーーーー */
    .title_gallery {
        width: 142.8px;
        margin: 0 auto;
    }
    .gallery_content {
        display: none;
    }
    .sp_gallery_content img {
        width: 100%;
        display: block;
    }

    /* イベントーーーーーーーーーーーーーーーーー */
    .title_event {
        width: 100px;
    }
    .event_detail ul {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 2.6%;
    }
    .event_detail ul li {
        font-size: 16px;
        padding-left: 8%;
    }
    .event_detail ul li .pc_li {
        display: none;
    }
    .event_detail ul li .sp_li {
        display: block;
    }
    /* アクセスーーーーーーーーーーーーーーーーーーーーーー */
    .title_access {
        width: 124px;
    }
    .access iframe {
        height: 190px;
    }
    /* フッターーーーーーーーーーーーーーーーーーーーーーー */
    .footer_container {
        display: block;
        padding-left: 2.6%;
        padding-top: 45px;
    }
    .shop_detail li {
        font-size: 18px;
        line-height: 0;
        margin-top: 30px;
    }
    .shopname {
        padding-top: 39px;
        padding-bottom: 27px;
    }
    .top {
        width: 100px;
        right: 10px;
        bottom: 10px;
    }
}
